[data-theme='crown'] {
  --color-primary-2: #ffa000;
  --color-primary-5: #ffffad;
  --color-warning: #fdd835;
  --bright_ellow: #fcd44b;
  --darck_ellow: #cd8528;
  --gadient_start: #d7a82f;
  --gadient_end: #eed96a;
}
