[data-theme='ThorWheel'] {
  --color-primary-2: #ffa000;
  --color-primary-5: #fadbff;
  --color-warning: #fdd835;
  --color-white: #fff;
  --color-primary-rose: #ffaeef;
  --bright_ellow: #fdd835;
  --darck_ellow: #fdd835;
  --gadient_start: #fdd835;
  --gadient_end: #fdd835;
}
